.wrapper, html, body {
  height: 100%;
  margin: 0;
}

body {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  color: lightgray;
  font-variant-caps: all-small-caps;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .bp3-switch {
  margin-top: 20px;
  transform: scale(3);
  align-content: center;
  margin-right: -28px;
}

.container .bp3-spinner {
  margin-top: -46px;
}

.hidden {
  display: none;
}